body
    overflow-y: hidden

.main-container
    display: flex
    flex-flow: column
    height: 100vh
    width: 100vw
    background: var(--background)

.main-nav
    display: flex
    height: 4rem
    width: 100%
    position: fixed
    z-index: 2 !important
    .main-nav__logo
        display: flex
        justify-content: center
        align-items: center
        height: 100%
        width: 20%
        margin: 0px 0px 0px auto
    
        .logo-container
            height: 100%
            width: 50%
            background-image: url('../../img/logo.png')
            background-position: center
            background-size: contain
            background-repeat: no-repeat

    .main-nav__menu
        display: flex
        justify-content: center
        align-items: center
        height: 100%
        width: 33.3%

        .menu-container
            display: flex
            justify-content: center
            align-items: center
            height: 80%
            width: 90%

            .menu-container__link
                font-size: 18px
                font-family: 'Open Sans', sans-serif
                color: var(--on-background)
                text-decoration: none
                margin: 0px 10px
                transition: .3s all
            .menu-container__link:hover
                transition: .3s all
                font-size: 30px


    .main-nav__mode
        display: flex
        justify-content: center
        align-items: center
        height: 100%
        width: 33.3%

        .mode-container
            display: flex
            justify-content: center
            align-items: center
            height: 80%
            width: 50%


            .mode-container__item
                display: flex
                transition: .3s
                align-items: center
                height: 2rem
                width: 4rem
                border-radius: 60px
                background: #673AB7
                cursor: pointer

                .mode-container__item--ball
                    transform: translateX(38px)
                    height: 25px
                    width: 25px
                    border-radius: 100%
                    background: #e5e5e5
                    transition: .3s 

.main-header__content
    display: flex
    height: 80vh
    width: 90%
    margin: 40px auto 0px auto
    background-image: url('../../img/home-bg.gif')
    background-position: center
    background-size: cover
    background-repeat: no-repeat

    .content__sideMenu
        display: flex
        flex-flow: column
        align-items: center
        justify-content: center
        background: var(--surface)
        height: 100%
        width: 5%
        left: 0
        top: 0
        position: fixed
        z-index: 2 !important

        .sideMenu-ham
            display: none
            position: absolute
            flex-flow: column
            justify-content: center
            align-items: center
            top: 0
            margin: 30px 0px
            height: 40px
            width: 40px
            .line
                margin: 4px auto
                height: 2px
                width: 80%
                background: var(--on-background)
        .sideMenu-home
            height: 25px
            width: 25px
            background-image: url('https://cdn-icons-png.flaticon.com/512/3799/3799791.png')
            background-position: center
            background-size: cover
            background-repeat: no-repeat
            transition: .3s
            margin: 0px 0px 20px 0px
            cursor: pointer
        .sideMenu-home:hover
            transition: .3s
            height: 60px
            width: 60px
        .sideMenu-projects
            height: 25px
            width: 25px
            background-image: url('https://cdn-icons-png.flaticon.com/512/984/984145.png')
            background-position: center
            background-size: cover
            background-repeat: no-repeat
            transition: .3s
            margin: 0px 0px 20px 0px
            cursor: pointer
        .sideMenu-projects:hover
            transition: .3s
            height: 60px
            width: 60px
        .sideMenu-contact
            height: 25px
            width: 25px
            background-image: url('https://cdn-icons-png.flaticon.com/512/1251/1251814.png')
            background-position: center
            background-size: cover
            background-repeat: no-repeat
            transition: .3s
            margin: 0px 0px 20px 0px
            cursor: pointer
        .sideMenu-contact:hover
            transition: .3s
            height: 60px
            width: 60px
    .content-head
        display: flex
        flex-flow: column
        height: 100%
        width: 60%

        .content-head--text:nth-child(1)
            font-family: 'Roboto', sans-serif
            font-size: 60px
            color: #cdcdcd
            margin: 100px 0px 0px 40px
        .content-head--text:nth-child(2)
            font-family: 'Roboto', sans-serif
            font-size: 60px
            margin: 0px 40px
            color: #cdcdcd
        .content-head--text:nth-child(3)
            font-family: 'Roboto', sans-serif
            font-size: 60px
            margin: 0px 40px
            color: #cdcdcd
        .content-head--text:nth-child(4)
            font-family: 'Roboto', sans-serif
            font-size: 14px
            margin: 0px 43px
            color: #cdcdcd

        .content-head__button
            display: flex
            justify-content: center
            align-items: center
            color: #fff
            font-family: 'Roboto', sans-serif
            height: 4rem
            width: 10rem
            margin: 10px 26px
.button-wrapper
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 40%

.button-wrapper:nth-child(2)
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 20%

.button-down
    margin: auto
    width: 70px
    height: 70px
    background: url('https://cdn-icons.flaticon.com/png/512/5255/premium/5255051.png?token=exp=1643883958~hmac=d2895544ea7833a4cece551261ad2c9c')
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    //-webkit-animation: jello-vertical 0.9s both
    //animation: jello-vertical 0.9s both
    webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both
    animation: pulsate-fwd 0.5s ease-in-out infinite both
    cursor: pointer
.button-up
    margin: 0px auto 20px auto
    width: 70px
    height: 70px
    background: url('https://cdn-icons.flaticon.com/png/512/5817/premium/5817906.png?token=exp=1643889644~hmac=d8c74944b46665f59a3c3260437c28d5')
    background-position: center
    background-size: 90%
    background-repeat: no-repeat
    //-webkit-animation: jello-vertical 0.9s both
    //animation: jello-vertical 0.9s both
    webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both
    animation: pulsate-fwd 0.5s ease-in-out infinite both
    cursor: pointer
        
.content-container
    display: flex
    justify-content: center
    flex-flow: column
    align-items: center
    height: 100vh
    width: 99vw
    margin: 20px 0px 0px 0px
    

.swiper
    width: 100%
    height: 100%
    background: var(--background)
    z-index: 0 !important

    .swiper-slide
        display: flex
        justify-content: center
        align-items: center

    .slide-container
        display: flex
        justify-content: center
        align-items: center
        height: 90%
        width: 100%
        background: var(--background)

        .slide-container__box:nth-child(1)
            display: flex
            flex-flow: column
            color: var(--on-surface)
            font-family: 'Roboto', sans-serif
            height: 100%
            width: 55%

            .container-box__head
                display: flex
                margin: auto auto 0px 200px
                height: 10%
                width: 70%
                font-size: 60px

            .container-box__text
                display: flex
                flex-flow: column
                margin: 20px auto auto 205px
                height: 40%
                width: 55%
                .box-text
                    margin: 6px 0px
            
        .slide-container__box:nth-child(2)
            display: flex
            flex-flow: column
            justify-content: center
            align-items: center
            height: 100%
            width: 45%

            .box-img
                height: 85%
                width: 90%
                background: url('https://wallpaperboat.com/wp-content/uploads/2020/04/red-aesthetic-wallpaper-9.jpg')
                background-position: center
                background-size: cover
                background-repeat: no-repeat
            .box-skill:nth-child(1)
                display: flex
                justify-content: center
                height: 70%
                width: 80%
                //background-image: url('../../img/1.jpg')
                background-position: center
                background-size: cover
                background-repeat: no-repeat
                .box-skill__set
                    display: flex
                    flex-flow: column
                    justify-content: center
                    margin: 40px 0px
                    width: 100%
                    height: 40%
                    font-size: 20px
                    font-family: 'Roboto', sans-serif
                    margin: auto 0px auto 40px
                    color: var(--on-surface)
                    .set-slide
                        width: 50%
                        height: 5px
                        background: var(--primary)
                        box-shadow: 0px 0px 20px 2px #0ff
                        border-radius: 50px
                        margin: 0px 0px 15px 0px
                    .set-slide:after
                        content: ''
                        width: 50%
                        height: 5px
                        display: block
                        background: var(--secondary)
                    #Skill-second:after
                        content: ''
                        width: 45%
                        height: 5px
                        display: block
                        transition: .3s all
                        background: var(--secondary)
                    #Skill-third:after
                        content: ''
                        width: 50%
                        height: 5px
                        display: block
                        background: var(--secondary)
                    #Skill-forth:after
                        content: ''
                        width: 48%
                        height: 5px
                        display: block
                        background: var(--secondary)
                    #Skill-fifth:after
                        content: ''
                        width: 50%
                        height: 5px
                        display: block
                        background: var(--secondary)

